body {
	font-family: sans-serif;
	margin: 0;
	padding: 0;
	background-color: #f5f5f5;
}

.container {
	max-width: 800px;
	margin: 50px auto;
	background-color: #fff;
	padding: 30px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

h1 {
	text-align: center;
	margin-bottom: 20px;
	color: #333;
}

.steps {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.step {
	display: flex;
	align-items: center;
	background-color: #5bbb47;
	padding: 10px 20px;
	border-radius: 5px;
	font-weight: bold;
	color: #fff;
}

.step_number {
	margin-right: 10px;
	background-color: #fff;
	padding: 5px 10px;
	border-radius: 50%;
	color: #333;
	font-size: 16px;
}

.drop {
	margin-bottom: 30px;
	display: flex;
	flex-direction: column;
	align-items: stretch;
}

.drop001 {
	margin-top: 80px;
	text-align: center;
	height: 150px;
}

.dropdown {
	height: 40px;

}

.drop label {
	display: block;
	margin-bottom: 20px;
	font-weight: bold;
	font-size: large;
}



.buttons {
	display: flex;
	justify-content: space-between;
}

.btn {
	display: inline-block;
	background-color: #2c8dff;
	color: white;
	font-weight: 600;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	font-size: 1.1rem;
	margin: 0.2rem;
	border-radius: 5px;
	border: 1px solid #2c8dff;
	cursor: pointer;
	transition: ease-in 0.5s;
}

.btn:hover {
	background-color: #5bbb47;
}