.navbar_footer {
	display: flex;
	padding: 0 75px;
	align-items: center;
	background-color: #002547;
	justify-content: space-between;
	flex-direction: row;
	flex-wrap: nowrap;
}

.navbar_footer ul {
	display: flex;
	list-style: none;
	padding: 0;
}

.navbar_footer ul li {
	margin: 0 18px;
}

.navbar_footer ul li a {
	text-decoration: none;
	color: #f7f7fb;
	transition: color 0.3s ease;
}
.logo {
	padding: 5px;
	display: flex;
	flex-direction: row;
}

.logos img {
	height: 50px;
	width: 50px;
}
